Package: com.jijiang.moments_high-quality
Name: WeChatMomentsHQ
Depends: mobilesubstrate
Version: 1.0-1
Architecture: iphoneos-arm
Description: WeChat Moments High Quality - For Entertainment Only
Author: jijiang
Section: Tweaks